@charset "UTF-8";
/* color tokens */
/* opacity tokens */
/* animation tokens */
/* typography tokens */
/* layout tokens */
/* アクセッサ関数 */
/* pxをvwに変換する関数 */
/* pcとspのビューポート間を線型的にサイズ変化させる関数 (要検討) */
/* Swiperボタンの位置 */
/* Swiperボタンのサイズ */
/* メディアクエリ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: "dnp-shuei-gothic-kin-std", sans-serif;
  color: #1e1e1e;
  font-size: 3rem;
  line-height: 1.6;
  text-align: justify;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "dnp-shuei-gothic-kin-std", sans-serif;
}

.base-content, .contact .contact-contents, .works, .insert-photo, .about-me, .main-visual {
  container-type: inline-size;
  max-inline-size: 1100px;
  inline-size: clamp(320px, 320px + (1100px - 320px) * (100vw - 375px) / (1366px - 375px), 1100px);
  margin-inline: auto;
  margin-block-end: 180px;
}
@container (min-width: 600px) {
  .base-content, .contact .contact-contents, .works, .insert-photo, .about-me, .main-visual {
    margin-block-end: 200px;
  }
}

.main-visual {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-visual .title-group {
  margin: 30.5vh auto;
}

.about-me p {
  font-size: 1.125rem;
  line-height: 1.6;
}

.insert-photo img {
  display: block;
  max-width: 100%;
  height: auto;
}

.works {
  margin-bottom: 200px;
}

.contact {
  background-color: #272727;
  color: #ffffff;
  margin-inline: auto;
  padding-top: 9.375rem;
  padding-bottom: 6.25rem;
  border-radius: 20px 20px 0 0;
}
.contact .contact-contents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1.875rem;
  margin-block-end: 0;
}
.contact .contact-contents .c-section-title {
  position: relative;
}
.contact .contact-contents .c-section-title::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 106px;
  height: 2px;
  background: #ffffff;
}
.contact .contact-contents .c-section-title::before {
  content: "";
  position: absolute;
  bottom: -28px;
  left: 0;
  width: 61px;
  height: 2px;
  background: #ffffff;
}
.contact .contact-contents .contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact .contact-contents .contact-form .contact-form-text {
  font-size: 0.938rem;
  margin-bottom: 0.813rem;
}
.contact .contact-contents .contact-form .contact-button {
  margin-bottom: 2.5rem;
}
.contact .contact-contents .contact-form .icons {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  align-items: center;
  gap: 0.938rem;
  margin-bottom: 2.5rem;
}
.contact .contact-contents .contact-form .icons .contact-icon {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 50%;
}
.contact .contact-contents .contact-form .icons .contact-icon img {
  width: 30px;
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
}
.contact .contact-contents .copy-right {
  font-size: 0.938rem;
  align-self: end;
}

.c-title {
  position: relative;
  padding-bottom: 20px;
}
.c-title__main {
  font-size: clamp(4.063rem, 4.063rem + (8rem - 4.063rem) * (100vw - 375px) / (1366px - 375px), 8rem);
  letter-spacing: 0.45rem;
  line-height: 1;
  margin-bottom: 45px;
  /* spanを立てに並べる */
  display: flex;
  flex-direction: column;
}
.c-title__main .line-break {
  display: inline-block;
}
.c-title__sub {
  position: relative;
  margin-left: 12.5px;
  font-size: clamp(1rem, 1rem + (1.5rem - 1rem) * (100vw - 375px) / (1366px - 375px), 1.5rem);
  padding-bottom: 20px;
  position: relative;
}
.c-title__sub::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 106px;
  height: 2px;
  background: #1E1E1E;
}
.c-title__sub::before {
  content: "";
  position: absolute;
  bottom: -28px;
  left: 0;
  width: 61px;
  height: 2px;
  background: #1E1E1E;
}

.c-section-title {
  position: relative;
  font-size: clamp(3rem, 3rem + (6rem - 3rem) * (100vw - 375px) / (1366px - 375px), 6rem);
  margin-bottom: 57px;
  position: relative;
}
.c-section-title::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 106px;
  height: 2px;
  background: #1E1E1E;
}
.c-section-title::before {
  content: "";
  position: absolute;
  bottom: -28px;
  left: 0;
  width: 61px;
  height: 2px;
  background: #1E1E1E;
}
.c-section-title::after {
  bottom: 10px;
}
.c-section-title::before {
  bottom: -6px;
}

.card .swiper {
  overflow: visible;
}
.card .swiper-area {
  position: relative;
}
.card .swiper-slide {
  width: 816px;
  max-width: 816px;
}
@media screen and (max-width: 600px) {
  .card .swiper-slide {
    width: 464px;
    max-width: 464px;
  }
}
.card .swiper-button-prev,
.card .swiper-button-next {
  position: absolute;
  z-index: 1;
  top: 29.4117647059%;
  transform: translateY(-50%);
}
@media screen and (max-width: 600px) {
  .card .swiper-button-prev,
  .card .swiper-button-next {
    top: 50%;
  }
}
.card .swiper-button-prev {
  left: -25px;
}
@media screen and (max-width: 600px) {
  .card .swiper-button-prev {
    left: -20x;
    right: auto;
  }
}
.card .swiper-button-next {
  right: -65px;
}
@media screen and (max-width: 600px) {
  .card .swiper-button-next {
    right: -26px;
    left: auto;
  }
}
.card .slide-media {
  padding-top: 58.8235294118%;
  border-radius: 20px;
}
.card .slide-content {
  display: flex;
  flex-direction: column;
  padding: 3.2rem 0;
}
@media screen and (max-width: 600px) {
  .card .slide-content {
    padding: 1.5rem 0;
  }
}
.card .slide-content .slide-text {
  font-size: 0.938rem;
  line-height: 1.6;
}
@media screen and (max-width: 600px) {
  .card .slide-content .slide-text {
    margin-bottom: 7rem;
  }
}
.card .slide-content .slide-link {
  font-size: 0.938rem;
  align-self: flex-end;
  margin-top: auto;
  position: relative;
  position: relative;
}
.card .slide-content .slide-link::after {
  content: "";
  position: absolute;
  width: 115%;
  height: 10px;
  border-bottom: 1px solid #1e1e1e;
  border-right: 1px solid #1e1e1e;
  /* 傾きを調節 */
  transform: skew(60deg);
  /* 下線矢印の位置補正 */
  left: -5px;
  bottom: -2px;
}
.card [class*=swiper]:focus {
  outline: none;
}
.card .slide-media,
.card .thumb-media {
  position: relative;
  overflow: hidden;
}
.card .slide-media img,
.card .thumb-media img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card .swiper-button-prev,
.card .swiper-button-next {
  display: grid;
  place-content: center;
  width: 3.563rem;
  height: 3.563rem;
  cursor: pointer;
  transition: opacity 0.8s cubic-bezier(0.2, 1, 0.2, 1), transform 0.8s cubic-bezier(0.2, 1, 0.2, 1), background-color 0.8s cubic-bezier(0.2, 1, 0.2, 1);
}
@media screen and (max-width: 600px) {
  .card .swiper-button-prev,
  .card .swiper-button-next {
    width: 49.6px;
    height: 49.6px;
    opacity: 0.9;
  }
}
.card .swiper-button-prev::before,
.card .swiper-button-next::before {
  position: absolute;
  background-color: #939393;
  inset: 0;
  content: "";
  border-radius: 50%;
}
.card .swiper-button-prev::after,
.card .swiper-button-next::after {
  width: 1.2rem;
  height: 1.2rem;
  content: "";
  border: solid #dddddd;
  border-width: 3px 3px 0 0;
}
.card .swiper-button-prev.swiper-button-disabled,
.card .swiper-button-next.swiper-button-disabled {
  transition: opacity 0.8s cubic-bezier(0.2, 1, 0.2, 1), transform 0.8s cubic-bezier(0.2, 1, 0.2, 1), background-color 0.8s cubic-bezier(0.2, 1, 0.2, 1);
  pointer-events: none;
  opacity: 0.3;
  border: 1px solid #ffffff;
  border-radius: 50%;
  cursor: default;
}
.card .swiper-button-prev::after {
  margin-left: 0.4rem;
  transform: rotate(-135deg);
}
.card .swiper-button-next::after {
  margin-right: 0.4rem;
  transform: rotate(45deg);
}
.card .swiper-button-prev.swiper-button-disabled,
.card .swiper-button-next.swiper-button-disabled {
  transition: none;
  pointer-events: none;
  opacity: 0.3;
  border: 1px solid #ffffff;
  border-radius: 50%;
  cursor: default;
}

.contact-button {
  position: relative;
  padding: 0.75rem 9.625rem;
  font-size: 1.25rem;
  border-radius: 20px;
  color: #1e1e1e;
  background-color: #ffffff;
}
.contact-button::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 1.875rem;
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  border: solid #1e1e1e;
  border-width: 3px 3px 0 0;
  transform: translateY(-50%) rotate(45deg);
}/*# sourceMappingURL=style.css.map */