@use "../abstracts/fanctions" as f;

.base-content {
    max-width: f.layout(content-width);
    width: min(100%, f.layout(content-width));
    margin-inline: auto;
    margin-bottom: f.layout(content-margin-bottom-small);
    padding-inline: clamp(
        f.layout(content-padding-horizontal-sp),
        5vw,
        f.layout(content-padding-horizontal)
    );
}