@use "../abstracts/fanctions" as f;

.base-content {
    container-type: inline-size;

    max-inline-size: f.layout(content-width);
    inline-size: f.fluid-clamp(
        f.layout(content-width-sp),
        f.layout(content-width)
    );
    margin-inline: auto;
    margin-block-end: f.layout(content-margin-bottom-small);

    @container (min-width: 600px) {
        margin-block-end: f.layout(content-margin-bottom-large);
    }
}