@use "../abstracts/fanctions" as f;
@use "../abstracts/mixins" as m;
@use "./base_content" as *;

// TODO: お気軽に〜を擬似要素として実装
// TODO: 矢印と文字の高さを揃える

.contact {
    background-color: f.color(color-footer);
    color: f.color(color-base);
    margin-inline: auto;
    position: relative;
    z-index: 3;
    padding-top: f.fluid-clamp(f.layout(contact-padding-top-sp), f.layout(contact-padding-top));
    padding-bottom: f.fluid-clamp(f.layout(contact-padding-bottom-sp), f.layout(contact-padding-bottom));
    border-radius: f.layout(radius-base) f.layout(radius-base) 0 0;

    .contact-contents {
        @extend .base-content;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-inline: f.fluid-clamp(f.layout(contact-contents-padding-sp), f.layout(contact-contents-padding));
        margin-block-end: 0;

        @include m.break-point("contact-sp") {
            flex-direction: column;
            align-items: flex-start;
        }

        .c-section-title {
            @include m.title-borderline(f.color(color-base));
            @include m.break-point("contact-sp") {
                align-self: flex-start;
                text-align: left;
            }
        }

        .contact-form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            @include m.break-point("contact-sp") {
                align-self: center;
            }


            .contact-form-text {
                font-size: 0.938rem;
                margin-bottom: f.layout(contact-text-margin);
            }

            .contact-button {
                @include m.button() {
                    width: f.fluid-clamp(f.layout(contact-button-width-sp), f.layout(contact-button-width));
                    height: f.layout(contact-button-height);
                };
                margin-bottom: f.layout(contact-button-margin);
            }

            .icons {
                display: flex;
                flex-direction: row;
                align-self: flex-end;
                align-items: center;
                gap: f.layout(contact-icons-gap);
                margin-bottom: f.layout(contact-button-margin);

                .contact-icon {
                    width: f.layout(contact-icon-size);
                    height: f.layout(contact-icon-size);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: f.color(color-base);
                    border-radius: 50%;

                    img {
                        width: f.layout(contact-icon-img-size);
                        height: f.layout(contact-icon-img-size);
                        object-fit: contain;
                    }
                }
            }
        }
    }
}