@use "../abstracts/fanctions" as f;
@use "../abstracts/mixins" as m;
@use "./base_content" as *;

.contact {
    background-color: f.color(color-footer);
    color: f.color(color-base);
    margin-inline: auto;
    padding-top: 9.375rem;
    padding-bottom: 6.25rem;
    border-radius: f.layout(radius-base) f.layout(radius-base) 0 0;

    .contact-contents {
        @extend .base-content;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-inline: 1.875rem;
        margin-block-end: 0;

        .c-section-title {
            @include m.title-borderline(f.color(color-base));
        }

        .contact-form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .contact-form-text {
                font-size: 0.938rem;
                margin-bottom: 0.813rem;
            }

            .contact-button {
                margin-bottom: 2.5rem;
            }

            .icons {
                display: flex;
                flex-direction: row;
                align-self: flex-end;
                align-items: center;
                gap: 0.938rem;
                margin-bottom: 2.5rem;

                .contact-icon {
                    width: 50px;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: f.color(color-base);
                    border-radius: 50%;

                    img {
                        width: 30px;
                        height: 30px;
                        object-fit: contain;
                    }
                }
            }
            }
            .copy-right {
                font-size: f.typography(font-size-copy-right);
                align-self: end;
            }
    }
}