@use "../abstracts/fanctions" as f;
@use "../abstracts/mixins" as m;
@use "./base_content" as *;

// TODO: お気軽に〜を擬似要素として実装 修正済み
// TODO: section-titleとボタンの高さを揃える 修正済み
// TODO: 矢印と文字の高さを揃える 修正済み

.contact {
    background-color: #212828;
    color: f.color(color-base);
    margin-inline: auto;
    position: relative;
    padding-top: f.fluid-clamp(f.layout(contact-padding-top-sp), f.layout(contact-padding-top));
    padding-bottom: f.fluid-clamp(f.layout(contact-padding-bottom-sp), f.layout(contact-padding-bottom));
    border-radius: f.layout(radius-base) f.layout(radius-base) 0 0;
    @include m.break-point("contact-sp") {
        padding-bottom: 0px;
    }

    .contact-contents {
        @extend .base-content ;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-inline: f.fluid-clamp(f.layout(contact-contents-padding-sp), f.layout(contact-contents-padding));
        padding-bottom: 55px;
        margin-block-end: 0;

        @include m.break-point("contact-sp") {
            flex-direction: column;
            align-items: flex-start;
        }

        .c-section-title {
            @include m.title-borderline(f.color(color-base));
            @include m.break-point("contact-sp") {
                align-self: flex-start;
                text-align: left;
                margin-bottom: 100px;
            }
        }

        .contact-form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transform: translateY(55px);

            @include m.break-point("contact-sp") {
                align-self: center;
                transform: translateY(0px);
            }

            .contact-button-wrapper {
                position: relative;
                margin-bottom: f.layout(contact-button-margin);

                &:hover .contact-button {
                    opacity: 0.8;
                }

                &::before {
                    content: "お気軽にお問い合わせください！";
                    position: absolute;
                    display: inline-block;
                    font-size: 0.938rem;
                    color: f.color(color-base);
                    top: -15px;
                    transform: translateY(-100%);
                    left: 50%;
                    transform: translateX(-50%) translateY(-100%);
                    white-space: nowrap;
                }
            }

            .contact-button {
                @include m.button() {
                    width: f.fluid-clamp(f.layout(contact-button-width-sp), f.layout(contact-button-width));
                    height: f.layout(contact-button-height);
                    transition: opacity 0.5s ease;

                    // 右端に矢印アイコンを配置
                    &::after {
                        content: "";
                        position: absolute;
                        top: 50%;
                        right: 1.875rem;
                        display: block;
                        width: 0.938rem;
                        height: 0.938rem;
                        border: solid f.color(color-font-base);
                        border-width: 2px 2px 0 0;
                        transform: translateY(-50%) rotate(45deg);
                    }
                };
            }

            .icons {
                display: flex;
                flex-direction: row;
                align-self: flex-end;
                align-items: center;
                gap: f.layout(contact-icons-gap);
                margin-bottom: f.fluid-clamp(20px, 40px);

                .contact-icon {
                    width: f.layout(contact-icon-size);
                    height: f.layout(contact-icon-size);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: f.color(color-base);
                    border-radius: 50%;
                    transition: opacity 0.5s ease;

                    img {
                        width: f.layout(contact-icon-img-size);
                        height: f.layout(contact-icon-img-size);
                        object-fit: contain;
                    }
                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
        }
        .copy-right {
            font-size: f.typography(font-size-copy-right);
            align-self: end;
        }
    }
}