@use "../abstracts/fanctions" as f;
@use "./base_content" as *;

.insert-photo {
    @extend .base-content;

    img {
        display: block;
        max-width: 100%;
        height: auto;
        min-height: f.layout(insert-photo-height);
        object-fit: cover;
        border-radius: f.layout(radius-base);
    }
}