@use "../abstracts/fanctions" as f;
@use "./base_content" as *;

// TODO: scroll-indicatorを棒線に

.main-visual {
    @extend .base-content;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .title-group {
        margin: f.layout(title-vartical-margin) auto;
    }

    .scroll-indicator {
        right: 0;
    }
}