@use "../abstracts/fanctions" as f;
@use "../abstracts/mixins" as m;

.scroll-indicator {
    position: fixed;
    right: f.fluid-clamp-reverse(-70px, 5px);
    bottom: f.fluid-clamp(-18px, 100px);

    font-size: f.fluid-clamp(16px, 20px);
    color: f.color(color-font-base);
    writing-mode: vertical-rl;

    @include m.arrow-borderline {
        /* 縦向きにオーバーライド（必要箇所のみ上書き） */
        &::after {
            width: 10px;
            height: 115%;
            border-bottom: 1px solid f.color(color-font-base);
            border-left: 1px solid f.color(color-font-base);
            border-right: none;
            transform: skew(0deg, -30deg);
            bottom: -12px;
            left: 0%;
            transform-origin: bottom left;
        }
    };
}