@use "../abstracts/fanctions" as f;
@use "../abstracts/mixins" as m;

.scroll-indicator {
    position: absolute;
    right: f.fluid-clamp-reverse(-70px, 5px);
    bottom: f.fluid-clamp(-18px, 100px);

    font-size: f.fluid-clamp(16px, 20px);
    color: f.color(color-font-base);
    writing-mode: vertical-rl;

    @include m.borderline-scroll;
}