@use "../abstracts/fanctions" as f;
@use "../abstracts/mixins" as m;

// 作成中
.c-title {
    position: relative;
    padding-bottom: f.layout(title-padding);

    // メインタイトル
    &__main {
        font-size: f.fluid-clamp(f.typography(font-size-hero-sp), f.typography(font-size-hero));
        letter-spacing: f.typography(title-letter-spacing);
        line-height: f.typography(title-line-height);
        margin-bottom: f.layout(main-title-margin-bottom);

        /* spanを立てに並べる */
        display: flex;
        flex-direction: column;
        .line-break {
            display: inline-block
        }
    }

    // サブタイトル
    &__sub {
        position: relative;
        margin-left: f.fluid-clamp(f.layout(sub-title-margin-left-sp), f.layout(sub-title-margin-left));
        font-size: f.fluid-clamp(f.typography(font-size-sub-title-sp), f.typography(font-size-sub-title));
        padding-bottom: f.layout(title-padding-bottom);

        // borderline
        @include m.title-borderline(f.color(color-borderline));

    }
}

.c-section-title {
    position: relative;
    font-size: f.fluid-clamp(f.typography(font-size-section-title-sp), f.typography(font-size-section-title));
    margin-bottom: f.layout(section-title-margin-bottom);

    @include m.title-borderline(f.color(color-borderline)) {
        &::after {
            bottom: f.fluid-clamp(f.layout(borderline-first-bottom-sp) + f.layout(content-borderline-bottom-adjust),
            f.layout(borderline-first-bottom) + f.layout(content-borderline-bottom-adjust));
        }
        &::before {
            bottom: f.fluid-clamp(f.layout(borderline-second-bottom-sp) + f.layout(content-borderline-bottom-adjust),
            f.layout(borderline-second-bottom) + f.layout(content-borderline-bottom-adjust));
        }
    }
}