@use "../abstracts/fanctions" as f;

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
}

// ヘッダーのレイアウト
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;

    nav {
        position: relative;
        width: 100%;
        pointer-events: auto;
    }
}

// メインコンテンツ
main {
    position: relative;
}

canvas {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100vw;
    height: 100vh;
}