@use "../abstracts/fanctions" as f;

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
}

// ヘッダーのレイアウト
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    pointer-events: none;

    nav {
        position: relative;
        width: 100%;
        pointer-events: auto;
    }
}

// メインコンテンツ
main {
    position: relative;
    z-index: 1;
}